.about-section {
  width: 100%;
  text-align: center;
  padding: 80px;
  background-color: #f1e7e7;
  border: 1px solid black;
}

.about-section img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.aboutTextWise,
.aboutme {
  text-align: left;
}


.about-section h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.about-section h1:hover {
  background-color: #eaeaea;
}


.about-section p {
  font-family: "Times New Roman", Times, serif;
  text-shadow: #ec0c0c;
  font-size: 20px;
  color: #1b1a1a;
}

.contact-wrapper {
  position: relative;
  text-align: center;
  padding: 40px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-header {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-para {
  font-size: 16px;
  color: #fffafa;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* body {
  background-color: #d8d8d8;
} */

.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.social-menu ul li .fa:hover {
  color: #ffffff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #4f557a;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #4a397c5a;
}

.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077B5;
}

.social-menu ul {
  margin-top: 50px;
}

.copyright {
  margin-top: 120px;
  color: #ccc;
  text-align: center;
}

.fa-brands {
  padding-top: 25px;
}

.fa-instagram {
  color: #050101;

}

.fa-github {
  color: black;
}

.fa-google {
  color: #ee0505
}

.codingId {
  color: #ec0c0c;
  text-decoration: none;
}